header
{
    background-color: #2d3436;
    text-align: center;
    padding: 40px 10px;
}

header h1
{
    color: #74b9ff;
}

header h1 span
{
    color: #dfe6e9;
}

main
{
  background-color: #dfe6e9;
  padding: 20px;
}

main h2
{
  font-size: 2.25em;
  text-align: center;
  padding: 20px 0;
}

main .table-head, main .table-display
{
  width: 50%;
  padding: 30px 20px;
  margin: 20px 0 0 0;
}

.table-head
{
  border: 2px solid #2d3436;
  border-radius: 5px;
}

.table-head .table-msg
{
  justify-content: space-between;
  margin: 20px 0;
}

.table-head .table-msg h4
{
  font-size: 1.5em;
}

.table-head .table-num
{
  min-width: 80px;
  text-align: center;
  border: 2px solid #2d3436;
  border-radius: 5px;
  font-size: 2em;
  padding: 10px 0;
}

.table-head .table-buttons
{
  justify-content: space-around;
  margin: 20px 0;
}

.table-btn
{
  font-size: 2em;
  border: 2px solid #2d3436;
  border-radius: 50%;
  padding: 5px 15px;
}

@media screen and (max-width: 768px) {
  main .table
  {
    flex-direction: column;
  }

  main .table-head, main .table-display
  {
    width: 80%;
  }

  main .table-display
  {
    background-color: #0984e3;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  main .table-head, main .table-display
  {
    width: 100%;
  }

  main .table .table-msg
  {
    flex-direction: column;
  }

  main .table-msg .table-num
  {
    margin: 15px 0 0 0;
  }
}