.table-container
{
    width: 100%;
    border: 2px solid #0984e3;
    background-color: #0984e3;
    color: #dfe6e9;
    border-radius: 5px;
    flex-direction: column;
    padding: 20px 5px;
}

.table-row
{
    width: 50%;
    display: flex;
    text-align: center;
    margin: 5px 0;
}

.table-row div
{
    width: 20%;
    font-size: 1.25em;
}